openai:
  key: YOUR_OPENAI_KEY
  org: YOUR_OPENAI_ORG
  model: gpt-3.5-turbo

app:
  debug: true
  logger: true
  image_generation: true

server:
  log_location: "logs/app.log"

llm:
  type: openai
  log_location: "logs/llm.log"
