openai:
  key: YOUR_OPENAI_KEY
  org: YOUR_OPENAI_ORG
  model: gpt-4-1106-preview
  vmodel: gpt-4-vision-preview
  vgen: dall-e-3
  tts: null
  stt: whisper-1

app:
  debug: true
  logger: true
  image_generation: true
  upload_folder: "uploads"
  json_folder: "jsons"
  allowed_extensions: ["png", "jpg", "jpeg", "gif"]

server:
  log_location: "logs/app.log"

llm:
  type: openai
  log_location: "logs/llm.log"
