.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #efefef;
  overflow: hidden;
}

.start-page__title {
  margin-bottom: 2em;
  text-shadow: 0.2em 0.4em 0.5em #888;
}
